body{   
    background-image: url('Sauce/wallpaperOrigami.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center; 
    overflow: hidden;
}  
.frm{  
    background: rgb(236, 230, 230);  
    border: solid rgb(73, 62, 73) 1px;  
    width: 25%;  
    border-radius: 2px;  
    margin: 75px auto;  
    padding: 40px;
    padding-bottom: 24px;
}  
#jantina{
    position: relative;
    bottom: 20px;
    float:left;
}
#btnBoy{
    position: relative;
    margin-left: 37px;
    bottom: 20px;
    float: left;
}
#btnGirl{
    position: relative;
    bottom: 20px;
    float: left;
}
#btndaftar{  
    background: #337ab7;  
    border: solid rgb(73, 62, 73) 1px;
    border-radius: 4px;
    color: rgb(236, 230, 230); 
    position: relative; 
    margin-left: min(25%, 90px);
    padding: 7px; 
    float:left;
}
#btndaftar:active {
	position:relative;
	top:3px;
}
#btncancel{  
    background: #337ab7;  
    border: solid rgb(73, 62, 73) 1px;
    border-radius: 4px;
    color: rgb(236, 230, 230); 
    position: relative; 
    margin-left: min(17%, 60px);
    padding: 7px; 
    display:inline-block;

}
#btncancel:active {
	position:relative;
	top:3px;
}