body{   
    background-image: url('Sauce/wallpaperOrigami2_blur.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center; 
    overflow-y: hidden;
    background-repeat: no-repeat;
    margin-right: 80px;
    margin-left: 80px;  
}  
.main{    
    height: 600px;
    top: 0px;
    bottom: 0px;
}  
.title {   
    border-bottom: solid rgb(73, 62, 73) 3px; 
    width: 100%;
}
.ui {
    position: absolute;
    right: 80px; 
}
.heading {
    text-align: center;
    font-size: 2.1vh;
}
.frm{  
    background: rgb(255, 222, 185, 0.6);   
    border: solid rgb(0, 0, 0) 1px;  
    border-radius: 3px; 
    position:absolute; 
    margin: 30.5vw ;  
    margin-top: 1.5%;
    padding: 50px;
    padding-bottom: 0px;
    height: 320px;
    width: 330px;  
} 
#jantina{
    position: relative;
    bottom: 20px;
    float:left;
}
#btnBoy{
    position: relative;
    margin-left: 37px;
    bottom: 20px;
    float: left;
}
#btnGirl{
    position: relative;
    bottom: 20px;
    float: left;
}

#btnkemaskini {
	background-color:transparent;
    border:2px solid #3a3b3a;
	border-radius:5px;
    color:#000000;
	cursor:pointer;
    margin-left: 39%;
	padding:7px;
	text-decoration:none;
    float:left;

}
#btnkemaskini:hover {
	background:linear-gradient(to bottom, #ffce8a 5%, #ffdd8c 100%);
	background-color:#ffce8a;
}
#btnkemaskini:active {
	position:relative;
	top:3px;
}

@media only screen and (max-width: 1366px) {
    .frm {
        background: rgb(255, 222, 185, 0.6);
        border: solid rgb(0, 0, 0) 1px;
        border-radius: 3px; 
        position:absolute; 
        top: 50%;
        left: 50%;
        margin: -12% 0 0 -225px;
        padding: 50px;
        padding-bottom: 0px;
        height: 320px;
        width: 330px;
    } 
}