body{   
    background-image: url('Sauce/wallpaperOrigami2_blur.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center; 
    overflow-y: hidden;
    background-repeat: no-repeat;
    margin-right: 80px;
    margin-left: 80px;  
}  
.main{    
    height: 600px;
    top: 0px;
    bottom: 0px;
}  
.title {   
    border-bottom: solid rgb(73, 62, 73) 3px; 
    width: 100%;
}
.ui {
    position: absolute;
    right: 80px; 
}
.heading {
    text-align: center;
    font-size: 2.1vh;
}
.frm{  
    background: rgb(255, 222, 185, 0.6);   
    border: solid rgb(0, 0, 0) 1px;  
    border-radius: 3px; 
    margin: 30.5vw ;  
    margin-top: 1.5%;
    padding: 50px;
    padding-bottom: 30px;
    width: 330px;  
} 

.jantinaRadio{
    margin-top: 1rem;
}
#jantina{
    position: relative;
    bottom: 20px;
    display: inline-block;
}
#btnBoy{
    position: relative;
    margin-left: 10px;
    bottom: 20px;
    display: inline-block;
}
#btnGirl{
    position: relative;
    bottom: 20px;
    display: inline-block;
}

#btnkemaskini {
	background-color:transparent;
    border:2px solid #3a3b3a;
	border-radius:5px;
    color:#000000;
	cursor:pointer;
	padding:7px;
	text-decoration:none;
    margin-left: 7.5rem;
}
#btnkemaskini:hover {
	background:linear-gradient(to bottom, #ffce8a 5%, #ffdd8c 100%);
	background-color:#ffce8a;
}
#btnkemaskini:active {
	position:relative;
	top:3px;
}

@media only screen and (max-width: 1366px) {
    .frm {
        background: rgb(255, 222, 185, 0.6);
        border: solid rgb(0, 0, 0) 1px;
        border-radius: 3px; 
        position:absolute; 
        top: 50%;
        left: 50%;
        margin: -12% 0 0 -225px;
        padding: 50px;
        padding-bottom: 30px;
        width: 330px;
    } 
}


/* Textbox CSS  */
:root {
    --color-light: rgb(255, 222, 185, 0.6);
    --color-background: var(--color-light);
    --color-accent: #0945e7;
    font-family: 'Inter', sans-serif;
}

.input_box {
    background: var(--color-background);
    border-radius: 15px;
    margin-top: 1rem;
}

.input {
    position: relative;
    font-size: 12px;
}

.input_field {
    box-sizing: border-box;
    display: block;
    width: 100%;
    border: 2px solid rgb(73, 62, 73);
    padding: 0.6rem;
    background: transparent;
    border-radius: 15px;
}

.input_label {
    position: absolute;
    left: 0;
    top: 0;
    padding: 0.2rem;
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
    margin: 0.5rem;
    margin-top: 1.15rem;
    white-space: nowrap;
    transform: translate(0, 0);
    transform-origin: 0 0;
    background: rgb(255, 222, 185, 0.6);
    color: rgb(73, 62, 73);
    transition: transform 120ms ease-in;
    font-weight: bold;
    line-height: 2;
    border-radius: 15px;
}

.input_field:focus+.input_label,
.input_field:not(:placeholder-shown)+.input_label {
    transform: translate(0.25rem, -65%) scale(0.8);
    color: var(--color-accent);
    background: rgb(255, 222, 185);
}
