body{   
    background-image: url('Sauce/wallpaperOrigami2_blur.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center; 
    overflow-y: scroll;
    background-repeat: no-repeat;
    margin-right: 80px;
    margin-left: 80px;  
}  
.main{    
    height: 600px;
    top: 0px;
    bottom: 0px;
}  
.title {  
    border-bottom: solid rgb(73, 62, 73) 3px; 
    width: 100%;
}
.ui {
    position:absolute;
    right: 80px; 
}
.heading {
    padding-left: 20px;
}
.content {
    padding-left: 20px;
}
.img {
    display: inline-block;
    margin-right: max(150px, 12%);
    margin-bottom: 10vh;
}
