body{   
    background-image: url('Sauce/wallpaperOrigami2.jpg');
}
.heading {
    padding-left: 20px;
    font-size: 2.1vh;
}
.content {
    text-align: left;
    padding-left:20px;
}
#btnchng {
	background-color:transparent;
    border:2px solid #737271;
	border-radius:6px;
	color:#000000;
	cursor:pointer;
	padding:7px 7px;
	font-family:Arial;
	font-size:15px;
	text-decoration:none;
}
#btnchng:hover {
	background:linear-gradient(to bottom, #ffce8a 5%, #ffdd8c 100%);
	background-color:#ffce8a;
}
#btnchng:active {
	position:relative;
	top:1px;
}
