body{   
    background-image: url('Sauce/wallpaperOrigami2_blur.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center; 
    overflow-y: hidden;
    background-repeat: no-repeat;
    margin-right: 80px;
    margin-left: 80px;  
}  
.main{    
    height: 600px;
    top: 0px;
    bottom: 0px;
}  
.title {  
    border-bottom: solid rgb(73, 62, 73) 3px; 
    width: 100%;
}
.ui {
    position: absolute;
    right: 80px; 
}
.heading {
    padding-left: 20px;
    font-size: 2.1vh;
}
.content {
    text-align: left;
    padding-left:20px;
}
#btnchng {
	background-color:transparent;
	border-radius:6px;
	border:2px solid #737271;
	cursor:pointer;
	color:#000000;
	font-family:Arial;
	font-size:15px;
	padding:7px 7px;
	text-decoration:none;
}
#btnchng:hover {
	background:linear-gradient(to bottom, #ffce8a 5%, #ffdd8c 100%);
	background-color:#ffce8a;
}
#btnchng:active {
	position:relative;
	top:1px;
}
