.heading {
    text-align: center;
    font-size: 2.1vh;
}
.content {
    background: rgb(255, 222, 185, 0.5);  
    border: solid rgb(73, 62, 73) 1px;  
    border-radius: 15px;  
    position: relative;
    margin: auto;
    padding: 50px 70px;  
    height: 54vh;
    width: 70.5%; 
    text-align: center;
    font-size: 3.2vh;
}

#btnkeputusan {
    background-color:transparent;
    border:2px solid #3a3b3a;
	border-radius: 5px;
    color: #404040;
	cursor: pointer;
    width: 15%;
	padding: 7px;
	text-decoration: none;
    float: right;
    font-size: 0.6em;
    white-space: nowrap;
}
#btnkeputusan:hover {
	background:linear-gradient(to bottom, #ffce8a 5%, #ffdd8c 100%);
	background-color:#ffce8a;
}
#btnkeputusan:active {
    position: relative;
	top:3px;
}

#btnkeputusan2 {
    background-color:transparent;
    border:2px solid #3a3b3a;
	border-radius:5px;
    color:#404040;
	cursor:pointer;
	padding:7px;
}
#btnkeputusan2:hover {
	background:linear-gradient(to bottom, #ffce8a 5%, #ffdd8c 100%);
	background-color:#ffce8a;
}
#btnkeputusan2:active {
	margin-top:3px;
}

