body{   
    background-image: url('Sauce/wallpaperOrigami2.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center; 
    overflow-y: hidden;
    background-repeat: no-repeat;
    margin-right: 80px;
    margin-left: 80px;  
}  
.main{    
    height: 600px;
    top: 0px;
    bottom: 0px;
}  
.title {  
    border-bottom: solid rgb(73, 62, 73) 3px; 
    width: 100%;
}
.ui {
    position:absolute;
    right: 80px; 
}
.heading {
    padding-left: 20px;
}
.content {
    text-align: left;
    padding-left: 20px;
}

.btn {
	background-color:transparent;
	border-radius:13px;
	border:3px solid #3a3b3a;
	cursor:pointer;
	color:#404040;
	font-family:Times New Roman;
	font-size:21px;
	padding:8px;
    width: 20vw;
	text-decoration:none;
}
.btn:hover {
	background:linear-gradient(to bottom, #ffce8a 5%, #ffdd8c 100%);
}
.btn:active {
	position:relative;
	top:3px;
}
