.heading {
    text-align: center;
    font-size: 2.1vh;
}
.content {
    background: rgb(255, 222, 185, 0.5);  
    border: solid rgb(73, 62, 73) 1px;  
    border-radius: 15px;  
    position:relative;
    margin: auto;
    margin-bottom: 40px;
    padding-bottom: 50px;  
    height: max(65%, inherit);
    width:85%; 
    overflow: auto;
}
.table {
    border: solid rgb(73, 62, 73) 0.01px; 
    border-collapse: collapse;
    position: relative;
    margin: 40px auto;
    text-align:center;
    font-size: 2.5vh;
    width: 85%;
}
.table th {
    padding: 10px;
    border: solid rgb(73, 62, 73) 0.01px; 
}
.table td {
    padding: 10px;
    border: solid rgb(73, 62, 73) 0.01px; 
}
.rank {
    background:rgb(251, 235, 216, 0.5);
}

