.heading {
    text-align: center;
    font-size: 2.1vh;
}
.content {
    background: rgb(255, 222, 185, 0.5);  
    border: solid rgb(73, 62, 73) 1px;  
    border-radius: 15px;  
    position:relative;
    margin: auto;
    margin-bottom: 40px;
    padding-bottom: 50px;  
    height: max(65%, inherit);
    width:85%; 
}
.table {
    border: solid rgb(73, 62, 73) 1px; 
    position: relative;
    margin: 40px auto;
    text-align:center;
    font-size: 2.5vh;
}